@import "tailwindcss";

:root {
  --background: black;
  --foreground: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@font-face {
  font-family: 'Host Grotesk';
  src: url('/fonts/HostGrotesk-Regular.woff2') format('woff2'),
       url('/fonts/HostGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.header-text{
 font-family: 'Host Grotesk', sans-serif;
 }

 .box {
  /* width: 15vmin;
  height: 11vmin; */
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  
  --border-angle: 0turn; /* For animation */
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );
  
  border: solid 1px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle), 
    transparent 62%, 
    #9FAAFF9E, 
    #868CBC8F 56%, 
    transparent
    /* transparent 25%, 
    #08f, 
    #f03 99%, 
    transparent */
  );
  
  background: 
    /* padding-box clip this background into the overall element except the border */
    var(--main-bg) padding-box,
    /* border-box extends this background to the border space */
    var(--gradient-border) border-box, 
    /* Duplicate main background to fill in behind the gradient border */
    var(--main-bg) border-box;
  
  background-position: center center;

  animation: bg-spin 3s linear infinite;
}

/* Keyframes for rotating the border angle */
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box:hover {
  animation-play-state: paused;
}

/* Define the custom property for --border-angle */
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.flip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  cursor: pointer;
}

.flip-inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-container:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

/* loadingline */
@keyframes loadingLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-loadingLine {
  animation: loadingLine 2s linear infinite;
}
